<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- google fonts -->

<!--
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
-->

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Raleway', 'Open+Sans']
    }
  });
</script>

<!-- end custom head snippets -->
