<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- google fonts
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
-->

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- typekit
<script src="https://use.typekit.net/rnn4pvl.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
 -->

<!-- end custom head snippets -->
