/* Hide the Storify header */
.s-header .s-info .footer {
  display: none;
}

body{
  background-color: rgb(0, 0, 0);
}

/* Change the font */
h1, h2, div {
  font-family: Arial, Verdana !important;
}

/* Change the title */
.s-title {
  color: blue;
}

/* Change the description */
.s-description {
  font-size: 14pt;
  color: red;
}
